/* Add to center carousel text */
body {
    background-color: rgb(194, 187, 177);
}

#quiz-carousel {
    text-align: center;
    margin: 50px auto;
    width: 60%;
}

/* added display:none to IDs below to hide them by default */
#question,

#timer,
#result,
#initials {
    display: none;
}

#choices {
    background-color: beige;
    margin: auto;
    display: none;
}

#choices div:hover {
    background-color: burlywood;
    cursor: pointer;
    border-radius: 5px;
}

#displayScores,
#restart {
    display: none;
    margin: auto;
    padding: 10px;
}