/* Add to center carousel text */

#quiz-carousel {
    text-align: center;
    margin: 50px auto;
    width: 60%;
}

/* added display:none to IDs below to hide them by default */
#question,

#timer,
#result,
#initials,
#restart,
#displayScores
 {
    display: none;
}

#choices {
    background-color: aqua;
    margin: auto;
    display: none;
}